<h1>Add/Edit User</h1>
<mat-divider></mat-divider>
<form method="post">
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="e.g: Jhon">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="standard">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="e.g: Doe">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="e.g: jhon@company.com">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput placeholder="e.g: 200">
        </mat-form-field>
    </p> 
    <p>
        <button mat-raised-button > SAVE </button>
        <button mat-raised-button> CANCEL </button>
    </p>
</form>
