<h1>Add/Edit User</h1>
<mat-divider></mat-divider>
<form method="post" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Firstname" formControlName="firstname">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Lastname" formControlName="lastname">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Age" formControlName="age">
        </mat-form-field>
        <p>
            <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid"> SAVE </button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()"> CANCEL </button>
        </p>
    </div>
</form>
