/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
    width: 80%;
    margin: 10px;
}

.page-content {
   padding: 10px;
}

.action-link {
   cursor: pointer;
}

.action-button {
   margin: 0px 10px;
}

.form-container {
   margin: 20px;
   width: 50%;
   display: flex;
   flex-direction: column;
}
